#help-near-me-content {
  font-family: 'Courier New', Courier, monospace;
  color: #666666;
  display: flex;
  flex-direction: column;
}

#help-near-me-content a {
  color: #666666;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  margin: 0 20px;
}

#help-near-me-content a:hover {
  border-bottom: 3px solid #666666;
}
 
#site-title {
  display: flex;
  margin-top: 1%;
  justify-content: space-between;
  font-size: 36px;
}

#nav-bar {
  display: flex;
  justify-content: center;
  font-size: 28px;
  margin: 1% 0 2% 0;
}

#site-title {
  justify-content: center;
  margin-bottom: 10px;
}

#zipcode-form {
  display: flex;
  justify-content: center;
  margin: 40px 50px 20px 50px;
}

#zipcode-entry {
  width: 20%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#zipcode-label {
  margin: auto 2px auto 0;
  font-size: 20px;
}

#filter-button-area {
  margin: 3% auto;
  height: 30px;
}

.gray-button {
  border: 1px solid #ccc;
  background-color: #A9A9A9;
  border-radius: 4px;
  font-family:'Courier New', Courier, monospace;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  width: 100px;
  margin-left: 10px;
  padding: 5px 20px;
}

#filter-button {
    float: right;
}

#organization-list {
  margin: 0 auto;

  height: 495px;
  overflow-y: scroll;
}

.organization {
  display: flex;
  justify-content: center;
  margin: 0px 10px 20px 10px;
  border-radius: 15px;
  border: 2px solid #000000;
  padding: 20px;
  cursor: pointer;
}

.organization-name,
.organization-popup-name {
  font-size: 30px;
}

#search-area {
  display: flex;
  justify-content: space-around;
}

#organization-popup-area {
  width: 50%;
  font-size: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 40px 20px 10px 20px;
}

.organization-popup-name {
    margin: 2% auto;
}

.organization-popup-phone,
.organization-popup-address,
.organization-popup-hours,
.organization-popup-email,
.organization-popup-url-link,
.organization-popup-description {
    margin: 2% 0;
}

.hide-popup {
    display: none;
}

.show-popup {
    display: block;
}

.popup-close-button {
  cursor: pointer;
}
